h1 {
    color:gold;
    text-align:center;
    background-color: #660066;
    padding:5px;
    
  }
body {
      background-color: gray;
  }
  span.route1 {
        font-size:100%;
         color: gold;
         background-color: #660066;
         padding:5px;
               }
  span.route2 {
              font-size:100%;
              color: gold;
              background-color: #660066;
              padding:5px;
               }
